$font-size-xxl: 40px;
$font-size-mobile-xxl: 30px;
$font-size-xl:  26px;
$font-size-l:   18px;
$font-size-m:   16px;
$font-size-s:   14px; // 15px;
$font-size-xs:  12px;
$font-size-xxs: 10px;
$line-height-xl: 40px;
$line-height-paragraph-l: 36px;
$line-height-l: 24px; // 28px;
$line-height-m: 22px; // 26px;
$line-height-s: 18px; // 18px;
